h1{
    display: flex;
    justify-content: center;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    margin-top: 10px;
    margin-right: 10px;
    height: 30px;
    width: 100px;
    padding: 5px;
    background-color: rgb(109, 108, 108);
    border: 2px solid black;
    border-radius: 5px;
}
button{
    height: 30px;
    width: 100px; 
    padding: 5px;
    background-color: rgb(109, 108, 108);
    border: 2px solid black;
    border-radius: 5px;
}
.button{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.center{
    margin-top: 100px;
    margin-left: 450px;
    position: absolute;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(160, 160, 160);
}
input :placeholder{
    color: black;
}
#age{
    margin-left: 430px;
    margin-top: 200px;
    margin-bottom: 0px;
    display: inline;
    padding: 5px;
    width: 200px;
}